.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #4a473f;
}

.button {
  position: absolute;
  top: 159px;
  left: 94px;
  width: 200px;
  height: 70px;
  color: #8c8178;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 68px;
  cursor: pointer;
  z-index: 1;
  transition: all 350ms ease-in-out;
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  background-color: #f2ede4;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: all 350ms ease-in-out;
}

.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  background-color: #8c8178;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transform: translate(13px, 12px);
  z-index: -2;
  transition: all 350ms ease-in-out;
}

.button:hover {
  transform: translate(13px, 12px);
  color: #f2ede4;
}

.button:hover::before {
  background-color: #8c8178;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.button:hover::after {
  transform: translate(-13px, -12px);
  background-color: #f2ede4;
}
