* {
  margin: 0;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(214deg, #7bff7c 0%, #5ce1fc 100%);
}

.center {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 75px;
  left: 50px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.title {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #757474;
  border-bottom: 1px solid #757474;
}

.loading-bar {
  position: absolute;
  top: 43px;
  width: 300px;
  height: 4px;
  background-color: #7bff7c;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 3.2s ease-out;
}

.loading-bar.active {
  transform: scaleX(1);
}

.dropzone {
  position: absolute;
  width: 100px;
  height: 70px;
  top: 85px;
  left: 100px;
  border: 1px dashed #757474;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 500ms ease-in, display 100ms linear 500ms;
}

.dropzone.is-dragover {
  border-color: #666;
  background: #eee;
}

.dropzone.active {
  opacity: 0;
  display: none;
}

.upload {
  margin: 19px auto;
}

.file-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #757474;
  font-size: 15px;
}

.file-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.upload-btn {
  position: absolute;
  width: 120px;
  height: 35px;
  bottom: 30px;
  left: 90px;
  border: none;
  border-radius: 3px;
  background-color: #64d064;
  color: #fff;
  box-shadow: 0 2px 0 0 #276f27;
  cursor: pointer;
  transition: box-shadow 350ms ease-in-out;
}

.upload-btn:hover {
  box-shadow: 0 2px 0 0 #276f27, 0 2px 10px 0 #64d064;
}

.syncing {
  position: absolute;
  top: 102px;
  left: 134px;
  opacity: 0;
}

.syncing.active {
  animation: syncing 3.2s ease-in;
}

.done {
  position: absolute;
  top: 102px;
  left: 134px;
  opacity: 0;
}

.done.active {
  opacity: 1;
  transition: opacity 500ms ease-in 3.2s;
}

/* animation */
@keyframes syncing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
