.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #a7c0d6;
}

.circle {
  position: absolute;
  top: 175px;
  left: 175px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  animation: circle 1s ease-in-out forwards;
}

.line {
  position: absolute;
  width: 150px;
  height: 4px;
  top: 198px;
  background-color: #fff;
  z-index: 2;
}

.line.left {
  left: 50px;
  animation: line 1s 800ms ease-in-out both, line-left 1s 800ms steps(1) both;
}

.line.right {
  right: 50px;
  animation: line 1s 800ms ease-in-out both, line-right 1s 800ms steps(1) both;
}

.bracket {
  position: absolute;
  width: 4px;
  height: 70px;
  top: 165px;
  background-color: #fff;
  animation: bracket 800ms 1.7s ease-in-out both;
  z-index: 2;
}

.bracket::before,
.bracket::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 25px;
  background-color: #fff;
  animation: bracket-line 400ms 2.2s ease-in-out both;
  transform-origin: 0 50%;
}

.bracket::after {
  bottom: 0;
}

.bracket.left {
  left: 50px;
}

.bracket.right {
  right: 50px;
}

.bracket.right::before,
.bracket.right::after {
  right: 0;
  transform-origin: 100% 50%;
}

.hide {
  position: absolute;
  width: 400px;
  height: 30px;
  background-color: #a7c0d6;
  z-index: 1;
  animation: hide 500ms 2.5s ease-in both;
}

.hide.top {
  top: 170px;
  transform-origin: 50% 0%;
}

.hide.bottom {
  top: 200px;
  transform-origin: 50% 100%;
}

p {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 400px;
}

.small-text {
  font-size: 30px;
  font-weight: 300;
}

.text-top {
  top: 135px;
  animation: text-top 500ms 2.8s ease-in both;
}

.text-middle {
  top: 173px;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
}

.text-bottom {
  top: 225px;
  animation: text-bottom 500ms 2.8s ease-in both;
}

/* animation */
@keyframes circle {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes line {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes line-left {
  0% {
    transform-origin: 100% 50%;
  }
  50%,
  100% {
    transform-origin: 0% 50%;
  }
}

@keyframes line-right {
  0% {
    transform-origin: 0% 50%;
  }
  50%,
  100% {
    transform-origin: 100% 50%;
  }
}

@keyframes bracket {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes bracket-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes hide {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes text-top {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-bottom {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
