.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #a7bf4e;
}

.flower {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 175px;
  left: 175px;
  transition: all 0.5s ease-in-out;
  animation: flower 7s ease infinite;

  &:hover {
    .leaf,
    .dot {
      opacity: 0.3;
    }
  }
}

.leaf {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 2px 50px;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;

  &:nth-child(2n) {
    z-index: 1;
  }
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2cb05;
  z-index: 2;
  opacity: 0.8;
  transform: scale(0);
  transition: opacity 0.5s ease-in-out;
  animation: dot 7s ease-in-out infinite;
}

/* animation */
@for $i from 0 through 15 {
  .leaf-#{$i} {
    transform: rotate(($i * 22.5) + deg);
    animation: leaf-#{$i} 7s ease infinite;
  }

  @keyframes leaf-#{$i} {
    $percentIn: ($i * 2.8125) + 10;
    0%,
    100% {
      transform: rotate(($i * 22.5) + deg) translateY(0);
    }

    #{$percentIn}% {
      transform: rotate(($i * 22.5) + deg) translate(-35px, -35px) scale(2);
      box-shadow: -5px -5px 1px 0 rgba(0, 0, 0, 0.06);
    }

    60% {
      transform: rotate(($i * 22.5) + deg) translate(-35px, -35px) scale(2);
      box-shadow: -5px -5px 1px 0 rgba(0, 0, 0, 0.06);
    }

    75% {
      transform: rotate(($i * 22.5) + deg) translate(-35px, -35px) scale(2);
      box-shadow: -5px -5px 1px 0 rgba(0, 0, 0, 0.06);
    }
  }
}

@keyframes flower {
  0% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot {
  12% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.95);
  }
  30%,
  55% {
    transform: scale(1);
  }
  57.9% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0);
  }
}
