.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #000;
}

.rect {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #fff;
}

.rect-1 {
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  border-color: rgb(78, 78, 78);
  -webkit-animation: rotate 2s ease-in-out 0.0333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.0333333333s alternate infinite;
  z-index: 1;
}

.rect-2 {
  width: 190px;
  height: 190px;
  top: 105px;
  left: 105px;
  border-color: rgb(86, 86, 86);
  -webkit-animation: rotate 2s ease-in-out 0.0666666667s alternate infinite;
  animation: rotate 2s ease-in-out 0.0666666667s alternate infinite;
  z-index: 2;
}

.rect-3 {
  width: 180px;
  height: 180px;
  top: 110px;
  left: 110px;
  border-color: rgb(94, 94, 94);
  -webkit-animation: rotate 2s ease-in-out 0.1s alternate infinite;
  animation: rotate 2s ease-in-out 0.1s alternate infinite;
  z-index: 3;
}

.rect-4 {
  width: 170px;
  height: 170px;
  top: 115px;
  left: 115px;
  border-color: rgb(102, 102, 102);
  -webkit-animation: rotate 2s ease-in-out 0.1333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.1333333333s alternate infinite;
  z-index: 4;
}

.rect-5 {
  width: 160px;
  height: 160px;
  top: 120px;
  left: 120px;
  border-color: rgb(110, 110, 110);
  -webkit-animation: rotate 2s ease-in-out 0.1666666667s alternate infinite;
  animation: rotate 2s ease-in-out 0.1666666667s alternate infinite;
  z-index: 5;
}

.rect-6 {
  width: 150px;
  height: 150px;
  top: 125px;
  left: 125px;
  border-color: rgb(118, 118, 118);
  -webkit-animation: rotate 2s ease-in-out 0.2s alternate infinite;
  animation: rotate 2s ease-in-out 0.2s alternate infinite;
  z-index: 6;
}

.rect-7 {
  width: 140px;
  height: 140px;
  top: 130px;
  left: 130px;
  border-color: rgb(126, 126, 126);
  -webkit-animation: rotate 2s ease-in-out 0.2333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.2333333333s alternate infinite;
  z-index: 7;
}

.rect-8 {
  width: 130px;
  height: 130px;
  top: 135px;
  left: 135px;
  border-color: rgb(134, 134, 134);
  -webkit-animation: rotate 2s ease-in-out 0.2666666667s alternate infinite;
  animation: rotate 2s ease-in-out 0.2666666667s alternate infinite;
  z-index: 8;
}

.rect-9 {
  width: 120px;
  height: 120px;
  top: 140px;
  left: 140px;
  border-color: rgb(142, 142, 142);
  -webkit-animation: rotate 2s ease-in-out 0.3s alternate infinite;
  animation: rotate 2s ease-in-out 0.3s alternate infinite;
  z-index: 9;
}

.rect-10 {
  width: 110px;
  height: 110px;
  top: 145px;
  left: 145px;
  border-color: rgb(150, 150, 150);
  -webkit-animation: rotate 2s ease-in-out 0.3333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.3333333333s alternate infinite;
  z-index: 10;
}

.rect-11 {
  width: 100px;
  height: 100px;
  top: 150px;
  left: 150px;
  border-color: rgb(158, 158, 158);
  -webkit-animation: rotate 2s ease-in-out 0.3666666667s alternate infinite;
  animation: rotate 2s ease-in-out 0.3666666667s alternate infinite;
  z-index: 11;
}

.rect-12 {
  width: 90px;
  height: 90px;
  top: 155px;
  left: 155px;
  border-color: rgb(166, 166, 166);
  -webkit-animation: rotate 2s ease-in-out 0.4s alternate infinite;
  animation: rotate 2s ease-in-out 0.4s alternate infinite;
  z-index: 12;
}

.rect-13 {
  width: 80px;
  height: 80px;
  top: 160px;
  left: 160px;
  border-color: rgb(174, 174, 174);
  -webkit-animation: rotate 2s ease-in-out 0.4333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.4333333333s alternate infinite;
  z-index: 13;
}

.rect-14 {
  width: 70px;
  height: 70px;
  top: 165px;
  left: 165px;
  border-color: rgb(182, 182, 182);
  -webkit-animation: rotate 2s ease-in-out 0.4666666667s alternate infinite;
  animation: rotate 2s ease-in-out 0.4666666667s alternate infinite;
  z-index: 14;
}

.rect-15 {
  width: 60px;
  height: 60px;
  top: 170px;
  left: 170px;
  border-color: rgb(190, 190, 190);
  -webkit-animation: rotate 2s ease-in-out 0.5s alternate infinite;
  animation: rotate 2s ease-in-out 0.5s alternate infinite;
  z-index: 15;
}

.rect-16 {
  width: 50px;
  height: 50px;
  top: 175px;
  left: 175px;
  border-color: rgb(198, 198, 198);
  -webkit-animation: rotate 2s ease-in-out 0.5333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.5333333333s alternate infinite;
  z-index: 16;
}

.rect-17 {
  width: 40px;
  height: 40px;
  top: 180px;
  left: 180px;
  border-color: rgb(206, 206, 206);
  -webkit-animation: rotate 2s ease-in-out 0.5666666667s alternate infinite;
  animation: rotate 2s ease-in-out 0.5666666667s alternate infinite;
  z-index: 17;
}

.rect-18 {
  width: 30px;
  height: 30px;
  top: 185px;
  left: 185px;
  border-color: rgb(214, 214, 214);
  -webkit-animation: rotate 2s ease-in-out 0.6s alternate infinite;
  animation: rotate 2s ease-in-out 0.6s alternate infinite;
  z-index: 18;
}

.rect-19 {
  width: 20px;
  height: 20px;
  top: 190px;
  left: 190px;
  border-color: rgb(222, 222, 222);
  -webkit-animation: rotate 2s ease-in-out 0.6333333333s alternate infinite;
  animation: rotate 2s ease-in-out 0.6333333333s alternate infinite;
  z-index: 19;
}

/* animation */
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} /*# sourceMappingURL=style.css.map */
